* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

h1,
h2,
h3 {
    padding-bottom: 20px;
    color: #000000;
}

p {
    margin: 10px 0;
    color: #000000;
}

#navbar {
    background-color: #333;
    color: #fff;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    float: right;
    list-style: none;
}


#navbar ul li {
    display: inline;
}

#navbar ul li a {
    display: inline-block;
    padding: 25px;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: color #888;
    color: #f7c08a;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.text-primary {
    color: #f7c08a;
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #f7c08a;
    color: #333;
}

.btn-light {
    background-color: #f4f4f4;
    color: #333;
}

.btn-dark {
    background-color: #333;
    color: #fff;
}

.bg-dark {
    background-color: #333;
    color: #fff;
}

.bg-light {
    background-color: #f4f4f4;
    color: #333;
}

.bg-primary {
    background-color: #f7c08a;
    color: #333;
}

.clr {
    clear: both;
}

/* Showcase section */
#showcase {
    background-image: url(./hotelroom.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

#showcase .showcase-content {
    text-align: center;
    color: #fff;
    padding-top: 170px;
}

#showcase h1 {
    font-size: 60px;
}

#showcase p {
    padding-bottom: 20px;
    font-size: 20px;
}

#home-info {
    height: 500px;
}

#home-info .info-img {
    /* margin-bottom: 15px; */
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(./photo-1.jpg)
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
}

#home-info .info-content p {
    padding-bottom: 20px;
    font-size: 18px;
}

#main-footer {
    text-align: center;
    background-color: #444;
    color: #fff;
    padding: 20px;
}

/* About us page */
#about-info {
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}

#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
}

#about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
}

/* testimonial section */

#testimonials {
    height: 600px;
    padding-top: 50px;
    background-image: url("./test-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#testimonials h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
    font-size: 34px;
}

#testimonials .testimonial {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
}

#testimonials .testimonial img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

/* contact us page */

#contact-form {
    padding: 20px;
}

#contact-form h1 {
    font-size: 32px;
}

#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
}


.textarea {
    height: 300px;
    resize: none;
}

@media screen and (max-width: 600px) {
    html,
    body {
        font-family: sans-serif;
    }

    a {
        color: #333;
        text-decoration: none;
    }

    h1,
    h2,
    h3 {
        padding-bottom: 20px;
        color: #000000;
    }

    p {
        margin: 10px 0;
        color: #000000;
    }

    #navbar {
        background-color: #333;
        color: #fff;
        overflow: auto;
    }

    #navbar a {
        color: #fff;
    }

    #navbar h1 {
        float: left;
        padding-top: 20px;
        margin: 0 10px;
    }

    #navbar ul {
        float: right;
        list-style: none;
    }


    #navbar ul li {
        display: inline;
    }

    #navbar ul li a {
        display: inline-block;
        padding: 25px 20px;
    }

    #navbar ul li a:hover,
    #navbar ul li a.current {
        background: color #888;
        color: #f7c08a;
    }

    .container {
        max-width: 1100px;
        margin: auto;
    }

    .text-primary {
        color: #f7c08a;
    }

    .lead {
        font-size: 10px;
    }

    .btn {
        display: inline-block;
        font-size: 10px;
        color: #fff;
        background-color: #333;
        padding: 13px 20px;
        border: none;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #f7c08a;
        color: #333;
    }

    .btn-light {
        background-color: #f4f4f4;
        color: #333;
    }

    .btn-dark {
        background-color: #333;
        color: #fff;
    }

    .bg-dark {
        background-color: #333;
        color: #fff;
    }

    .bg-light {
        background-color: #f4f4f4;
        color: #333;
    }

    .bg-primary {
        background-color: #f7c08a;
        color: #333;
    }

    .clr {
        clear: both;
    }

    /* Showcase section */
    #showcase {
        background-image: url(./hotelroom.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 600px;
    }

    #showcase .showcase-content {
        text-align: center;
        color: #fff;
        padding-top: 170px;
        margin: 0 20px;
    }

    #showcase h1 {
        font-size: 40px;
    }

    #showcase p {
        padding-bottom: 20px;
        font-size: 20px;
    }

    #home-info {
        height: 500px;
    }

    #home-info .info-img {
        float: left;
        width: 50%;
        height: 100%;
        background-image: url(./photo-1.jpg)
    }

    #home-info .info-content {
        float: right;
        width: 50%;
        height: 100%;
        text-align: center;
        padding: 30px 30px;
    }

    #home-info .info-content p {
        padding-bottom: 20px;
        font-size: 10px;
    }

    #main-footer {
        /* height: 150px    ; */
        text-align: center;
        background-color: #444;
        color: #fff;
        /* padding: 20px; */
        /* margin-top: 10px; */
    }

    /* About us page */
    #about-info {
        padding: 20px 20px;
        display: inline-block;
        width: 100%;
        /* display: flex; */
    }

    #about-info .info-right {
        float: right;
        width: 300px;
        height: 250px;
        display: flex;
        gap: 20px;
    }

    #about-info .info-right img {
        display: block;
    }

    .info-img {
        width: 50%;
        height: 100%;
    }

    .text {
        font-size: 10px;
        color: #000000;
    }

    #about-info .info-left {
        /* display: flex;   */
        float: left;
        width: 100%;
        height: 50%;
    }

    .wrapper {
        display: flex;
        /* justify-content: space-between; */
        gap: 100px;
    }

    /* testimonial section */

    #testimonials {
        height: 950px;
        /* padding-top: 100px; */
        /* padding-bottom: 100px; */
        background-image: url("./test-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        /* display: flex; */
    }

    #testimonials h2 {
        color: #fff;
        text-align: center;
        /* padding-bottom: 40px; */
        /* margin: 0 auto; */
        font-size: 20px;
    }

    #testimonials .testimonial {
        /* padding: 20px; */
        /* margin-bottom: 40px; */
        border-radius: 5px;
        height: 100%;
        opacity: 0.9;
        /* width: 350px; */
    }

    #testimonials .testimonial img {
        width: 100px;
        float: left;
        margin-right: 20px;
        border-radius: 50%;
    }

    /* contact us page */

    #contact-form {
        padding: 20px;
    }

    #contact-form h1 {
        font-size: 32px;
    }

    #contact-form .form-group {
        margin-bottom: 20px;
    }

    #contact-form label {
        display: block;
        margin-bottom: 5px;
    }

    #contact-form input,
    #contact-form textarea {
        width: 100%;
        height: 100px;
        padding: 10px;
        border: 1px solid grey;
    }


    .textarea {
        height: 205px;
        resize: none;
        border: 1px solid grey;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    #navbar h1 {
        margin: 0 20px;
    }

    .info-left {
        margin: 0 20px;
    }

    .info-right {
        margin-top: 30px;
        margin: 20px 0;
    }

    .container2 {
        display: flex;
    }

    #testimonials .testimonial {
        margin: 20px 20px;
    }

    .textarea {
        height: 450px;
        border: 1px solid grey;
    }

    #contact-form input {
        width: 100%;
        height: 150px;
        padding: 10px;
        border: 1px solid grey;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #navbar h1 {
        margin: 0 20px;
    }

    .info-left {
        margin: 50px 20px;
    }

    .info-right {
        margin-top: 30px;
        margin: 20px 0;
    }

    .container2 {
        display: flex;
    }

    #testimonials .testimonial {
        margin: 20px 20px;
    }

    .textarea {
        height: 450px;
        border: 1px solid grey;
    }

    #contact-form input {
        width: 100%;
        height: 150px;
        padding: 10px;
        border: 1px solid grey;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    #navbar h1 {
        margin: 0 20px;
    }

    .info-left {
        margin: 100px 70px;
    }

    .info-right {
        margin-top: 30px;
        margin: 20px 0;
    }

    .container2 {
        display: flex;
    }

    #testimonials .testimonial {
        margin: 20px 20px;
    }

    .textarea {
        height: 250px;
        border: 1px solid grey;
    }

    #contact-form input {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 1px solid grey;
    }
}

@media screen and (min-width: 1201px) {
    #navbar h1 {
        margin: 0 20px;
    }

    .info-left {
        margin: 100px 100px;
    }

    .info-right {
        margin-top: 30px;
        margin: 20px 0;
    }

    .container2 {
        display: flex;
    }

    #testimonials .testimonial {
        margin: 20px 20px;
    }

    .textarea {
        height: 250px;
        border: 1px solid grey;
    }

    #contact-form input {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 1px solid grey;
    }
}

@media screen and (max-width: 338px) {
    #navbar h1 {
        margin: 0 20px;
    }

    .info-left {
        margin: 100px 100px;
    }

    .info-right {
        margin-top: 30px;
        margin: 20px 0;
    }

    .container2 {
        display: flex;
    }

    #testimonials .testimonial {
        margin: 20px 20px;
        height: 220px;
        font-size: 9px;
    }

    #testimonials {
        height: 600px;
    }

    .textarea {
        height: 250px;
        border: 1px solid grey;
    }

    #contact-form input {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 1px solid grey;
    }

    #navbar ul li a {
        font-size: 10px;
    }

    #navbar h1 {
        font-size: 20px;
    }

    #about-info p {
        font-size: 10px;
    }

    #about-info .info-left {
        margin: 20px 0;
    }

    .info-right {
        color: transparent;
    }

    #main-footer {
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 10px;
        width: 100%;
        height: 50px;
    }

    #home-info {
        /* height: 1    px; */
        height: 550px;
    }
}

@media screen and (max-width: 338px) {
    #navbar ul li a {
        font-size: 10px;
        /* margin: 10px 10px; */
        margin: 0 0;
    }

    #navbar h1 {
        font-size: 15px;
        margin: 0 10px;
    }

    #navbar {
        display: flex;
        justify-content: space-between;
    }

    #showcase h1 {
        font-size: 25px;
    }

    #showcase p {
        font-size: 10px;
    }

    #showcase {
        height: 400px;
    }

    #showcase .btn {
        font-size: 10px;
        width: 90px;
        height: 40px;
        text-align: center;
        /* padding: 0; */
        margin: 0;
    }

    #home-info {
        height: 650px;
    }

    #home-info .btn {
        width: 80px;
        height: 50px;
    }

    #testimonials .testimonial {
        height: 230px;
    }

    #testimonials {
        height: 620px;
    }
}